h1 {
    color: rgb(115, 234, 210);
    font-family: Arial, sans-serif;
    font-size: 80px;
    text-transform: capitalize;
    position: relative;
    font-weight: 1;
    margin: 0;
    width: 95%;
}

.h1notcenter {
    color: rgb(115, 234, 210);
    font-family: Arial, sans-serif;
    font-size: 100px;
    text-transform: capitalize;
    position: absolute;
    font-weight: 1;
}

h3 {
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(10, 77, 104);
    margin: auto;
}

p {
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin: auto;
}

body {
    margin: auto;
}

.matchtxt {
    position: relative;
    left: 30%;
    top: 0px;
}

.infos {
    position: relative;
    left: 30%;
    margin:auto;

}

.listtour:hover {
    background-color: aliceblue;
}

.topimgCover {
    position: absolute;
    right: 13%;
}

.comments {
    position: relative;
    left: 100px;
}

.topbanner{
    position: relative; 
    width: 100%;
    background-color: rgb(10, 77, 104,1);
    padding-top: 6em
}

.topimgElem {
    position: relative;
    right: 10%;
    top: 0px;
    display: inline-block;
}

.topimg {
    position: relative;
}

.topimg::after {
    content: normal;
    position: relative;
    height: 10px;
    width: 10px;
    background-color: aqua;
    display: block;
}

.midbanner {
    position:relative;
    left:0px;
    top:0px;
    width: 100%;
    background: linear-gradient(rgb(187, 233, 240) 70%, beige);
}

.scrollableitems {
    margin:0px; 
    position: relative;
    width: 88%;
    height: 400px;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
}

.itembox {
    border: 2px solid rgb(10, 77, 104);
    border-radius:100px;
    text-align: center;
    width: 85%;
}

.itemboxb {
    border-bottom: 5px solid rgb(10, 77, 104);
    text-align: center;
    width: 500px;
    padding: 5px 0
}

li {
    font-family: Arial, sans-serif;
    font-size: 20px;
    list-style-type: none;
    position: relative;
}

.linka {
    text-decoration: none;
    color: rgb(10, 77, 104);

}

.separator {
    position: relative;
    left: 0;
    top: 0px;
    width: 100%;
    height: 20px;
    background-color: transparent;
    z-index: -1;
}

.kickfooter {
    width: 1000px;
    height: 1700px;
    background-color: transparent;
    z-index: -1;
}



.borded-box {
    border: solid 5px rgb(10, 77, 104);
    border-radius: 20px;
    position: relative;
    background-color: transparent;
    display: inline-block;
    width: fit-content;
}

.box {
    display: inline-block;
}

.chart-container {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 43%
}


#navbar {
    background-color: #272d4b; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  
  /* Style the navbar links */
  #navbar a {
    font-family: Arial;
    font-weight: 200;
    float: left;
    display: block;
    color:rgb(115, 234, 210) ;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
  
  #navbar a:hover {
    background-color:rgb(187, 233, 240);
    color: #272d4b;
  }

  .footer{
    margin:0;
    width:70%;
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: rgb(151, 178, 184);
    position: relative;
    left: 2%;
  }


table {
    height:100%;
}


/* This part defines the style for the match tree */
.tree{
    max-width: 1100px;
    margin: 0 auto;
    display:block;
    
    display: flex;
    
    flex-direction: row;
}


.round {
    display:block;
    float:left;
    justify-content: center;
    align-items: center;
    
    display:flex;

    width: 25%;
    
    flex-direction:row;
}

.matchbox {
    display:block;
    display:flex;
    justify-content: center;
    flex-direction:column;
    color: #973b3b;
    background: rgb(10, 77, 104);
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12);
}


.team {
    box-sizing: border-box;
    color: #ee2525;
    font-family: Arial, sans-serif;
    background: rgb(10, 77, 104);
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: 6%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12);
}