{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Match{% endblock title %}

{% block content %}
<div class="topbanner">
    <h1>Creation/Modification d'un match</h1>
</div>
<div class="midbanner">
    <div class="box" style="width: 60%">
        <form action="{% url 'tournament:editMatch' id %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Save">
        </form>
    </div>

    <div class="box" style="width: 30%">
    {% include "tournois/MapModule.html" with longitude=match.Longitude lattitude=match.Lattitude %}
    </div>
    <script src="{% static 'mapControl.js' %}"></script>
</div>
{% endblock content %}