{% extends 'base.html' %}
{%load static%}
{% block content %}
<div class="topbanner" style="text-align: center; height:50%;" >
        <div style="position:relative; height:200px; width:100%; background-color: transparent;"></div>
        <h1 style="position:relative; text-align: center" >TOURNOIS</h1>

</div>

<div style="text-align:center; position: relative; width: 100%; background-color: gray;">
    <h3><a class ="linka"  style="font-size: 30px; color:lightgrey" href="{% url 'tournament:tournamentList' %}">Aller à la liste des tournois</a></h3>
</div>

<div class="midbanner" >
    <div style="position:relative; height:50px; width:100%; background-color: transparent;"></div>
    <div class="itembox" style="position: relative; margin: auto; width: 40%;">
        <h3 style="font-size:15px;" >Chercher une équipe ou un match:</h3>
        <form method="post" action="{% url 'tournament:home'%}">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Search">
        </form>
    </div>
    <div style="position:relative; height:200px; width:100%; background-color: transparent;"></div>
</div>





{% endblock content %}