{% extends 'base.html' %}

{% block title %}Val's Tournament: Match {{match.Team1.Name}}:{{match.Team2.Name}}{% endblock title %}

{% block content %}
    <h1>{{match.name}}</h1>
    <p>{{match}}</p>
    <p><a href="{% url 'tournament:teamDetail' match.Team1.id %}">{{match.Team1.Name}}</a></p>
    <p><a href="{% url 'tournament:teamDetail' match.Team2.id %}">{{match.Team2.Name}}</a></p>
    {% include "tournois/MapModule.html" with longitude=match.Longitude lattitude=match.Lattitude %}
    {% if match.comment_set.all %}
    <ul>
        {% for Comment in match.comment_set.all%}
        <li>{{Comment}}
            {% if user == Comment.User %}
            <a href="{% url 'tournament:removeComment' Comment.id %}">delete</a>  
            <a href="{% url 'tournament:editComment' Comment.id %}">edit</a>
            {% endif %}    
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>There is no comment on this match</p>
    {% endif %}
    <p>
        {% if user.is_authenticated %}
        <form action="{% url 'tournament:addComment' %}" method='post'>
            {% csrf_token %}
            {{ commentForm }}
            <input type="hidden" name="MatchId" id="MatchId" value={{match.id}}>
            <input type="submit" value="Post the comment">
        </form>
        {% else %}
        vous etes anonymous
        {% endif %}
    </p>

{% endblock content %}