{% extends 'base.html' %}

{% block title %} {{match.Team1.Name}} VS {{match.Team2.Name}}{% endblock title %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock head%}

{% block content %}

<nav class="crumbs">
    <ol>
        <li class="crumb"><a href="{% url 'tournament:home' %}">Accueil</a></li>
        <li class="crumb"><a href="{% url 'tournament:tournamentList' %}">Liste des tournois</a></li>
        <li class="crumb"><a href="{% url 'tournament:tournamentDetail' match.Pool.Tournois.id %}">{{match.Pool.Tournois.Name}}</a></li>
        <li class="crumb"><a href="{% url 'tournament:poolDetail' match.Pool.id %}">Poule n°{{match.Pool.index}}</a></li>
        <li class="crumb">{{match.Team1.Name}} VS {{match.Team2.Name}}</li>
    </ol>
</nav>
    <div class="topbanner"></div>
    <h1>{{match.Team1.Name}} VS {{match.Team2.Name}}</h1>

    <div class="midbanner">
        <h2 class="infos">Score : <B>{{match.getScoreString}}</B> / Lieu : {{match.Location}} / Date : {{match.Date}} </h2>
        {% if user.is_superuser %} <p><a href="{% url 'tournament:editMatch' match.id %}">edit</a></p>{% endif %}
        <h3 class="matchtxt"> Commentaires </h3>
    </div>

    <div class="scrollableitems">

        {% if match.comment_set.all %}
        <ul>
            {% for Comment in match.comment_set.all%}
            <div class="itembox">
            <li>{{Comment}}
                {% if user == Comment.User %}
                    <a href="{% url 'tournament:removeComment' Comment.id %}">delete</a>  
                    <a href="{% url 'tournament:editComment' Comment.id %}">edit</a>
                {% endif %}    
            </li>
            </div>
            <div class="separator">
            </div>
            {% endfor %}
        </ul>
        {% else %}
            <p>Il n'y a pas de commentaires.</p>
        {% endif %}
        <p>
            {% if user.is_authenticated %}
            <form action="{% url 'tournament:addComment' %}" method='post'>
                {% csrf_token %}
                {{ commentForm }}
                <input type="hidden" name="MatchId" id="MatchId" value={{match.id}}>
                <input type="submit" value="Post the comment">
            </form>
            {% else %}
            Vous n'êtes pas connecté.
            {% endif %}
        </p>
    </div>

    <div style="position:relative; left:800px">
    {% include "tournois/MapModule.html" with longitude=match.Longitude lattitude=match.Lattitude %}
    </div>
    
    <div class = style="border: solid 5px rgb(10, 77, 104); border-radius: 20px; position: absolute; left: 1050px; top: 500px; width: 17%; height: 350px; background-color:transparent;z-index:1;">
    </div>
{% endblock content %}