{% extends 'base.html' %}

{% block title %}Val's Tournament : pool {{pool.index}}{% endblock title %}

{% block content %}
    <h1>{{pool.Tournois.Name}} : pool #{{pool.index}}</h1>
    {% if pool.match_set.all %}
    <ul>
        {% for match in pool.match_set.all %}
        <li><a href= "{% url 'tournament:matchDetail' match.id %}">{{match}}</a></li>
        {% endfor %}
    </ul>
    {% else %}
        {% if user.is_superuser %}
            {% if canGenerate %}
            <a href="{% url 'tournament:generateMatchs' pool.id %}">generate all matchs</a>
            {% else %}
            <p>No match and not the right amount of team in the pool</p>
            {% endif %}
        {% else %}
        <p>Aucun match dans cette poule</p>
        {% endif %}
    {% endif %}
    {% if pool.match_set.all %}
    <ul>
        {% for team, score in pool.getTeamsAndScores.items %}
        <li><h3>{{score}}</h3>:<a href="{% url 'tournament:teamDetail' team.id %}">{{team.Name}}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <ul>
        {% for team in pool.Teams.all %}
        <li><a href="{% url 'tournament:teamDetail' team.id %}">{{team.Name}}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock content %}