
{% extends 'base.html' %}
{%load static%}


{% block title %}Val's Tournament : pool {{pool.index}}{% endblock title %}

{% block content %}
    
    <img width="100" height="100" src="{% static 'KingJames.jpg' %}"/>
    <div style="width: 1000px; height: 2000px; background-color:transparent;z-index:-1;">
    <h1 style="color: rgb(115, 234, 210);
     font-family: Arial, sans-serif; font-size:100px; 
     text-transform: capitalize; 
     position: absolute;
     left: 100px;
     top: 200px;
     font-weight: 1;">
    {{pool.Tournois.Name}} : pool #{{pool.index}}</h1>


    <div style="position: absolute; left: 0; top: 0px; width: 100%; height: 400px; background-color:rgb(10, 77, 104);z-index:-1;">
    </div>
    <div style="position: absolute; left: 0; top: 400px; width: 100%; height: 550px; background: linear-gradient(rgb(187, 233, 240) 70%, beige) ;z-index:-1;">
        <h3 style="position: absolute; 
        left: 150px; 
        top: 0px;
        font-family: Arial, sans-serif; font-size:20px; 
        text-transform: uppercase;
        color:rgb(10, 77, 104);
        "> Matchs : </h3>
    </div>

    <div style="position: absolute;
    left: 250px; top: 420px;
    width:100%;height:70%;
    overflow:scroll;overflow-y:scroll;overflow-x:hidden;">
    {% if pool.match_set.all %}

    <ul>

        {% for match in pool.match_set.all %}



        <div style="border: 2px solid rgb(10, 77, 104); border-radius: 100px ; text-align: center; width: 500px; padding: 5px 0">
            <li style="font-family: Arial, sans-serif; font-size:20px; list-style-type: none;"><a style=" text-decoration: none;
                color:rgb(10, 77, 104);" href= "{% url 'tournament:matchDetail' match.id %}">{{match.Team1.Name}} VS {{match.Team2.Name}}</a></li>
            <p style="font-family: Arial, sans-serif; font-size:10px;"> Score : {{match.getScoreString}} / Location : {{match.Location}} / Date : {{match.Date}} </p>
            {% if user.is_superuser %} <a href="{% url 'tournament:editMatch' match.id %}">edit</a>{% endif %}
        </div>
        <div style="position: relative; left: 0; top: 0px; width: 100%; height: 20px; background-color:transparent;z-index:-1;">
        </div>

        {% if user.is_superuser %} <a href="{% url 'tournament:editMatch' match.id %}">edit</a>{% endif %}

        {% endfor %}
    </ul>
    {% else %}
        {% if user.is_superuser %}
            {% if canGenerate %}
            <a href="{% url 'tournament:generateMatchs' pool.id %}">generate all matchs</a>
            {% else %}
            <p>No match and not the right amount of team in the pool</p>
            {% endif %}
        {% else %}
        <p>Aucun match dans cette poule</p>
        {% endif %}
    {% endif %}
    {% if user.is_superuser %} <p><a href="{% url 'tournament:editMatch' 0 %}">create Match</a></p>{% endif %}
    </div>

    <div style="border: solid 5px rgb(10, 77, 104); border-radius: 20px; position: absolute; left: 1050px; top: 500px; width: 17%; height: 350px; background-color:transparent;z-index:1;">
        <h3 style="position: relative; 
        left: 0px; 
        top: 2px;
        text-align: center;
        font-family: Arial, sans-serif; font-size:20px; 
        text-transform: uppercase;
        color:rgb(10, 77, 104);
        "> Points  &nbsp &nbsp   Equipes </h3>

        <h3 style="position: relative; 
        left: 0px; 
        top: -150px;
        text-align: center;
        font-family: Arial, sans-serif; font-size:50px; 
        text-transform: uppercase;
        color:rgb(10, 77, 104);
        "> top 5 </h3>

    {% if user.is_superuser %} <p><a href="{% url 'tournament:editMatch' 0 %}">create Match</a></p>{% endif %}


    {% if pool.match_set.all %}

        <ul>
            {% for team, score in pool.getTeamsAndScores.items %}
            <li style="font-family: Arial, sans-serif; font-size:20px; list-style-type: none; position: relative; top:-130px; left: 25px;"><FONT size="5pt">{{score}}</FONT> &nbsp &nbsp &nbsp <a style="position: relative; left: 20px; text-decoration: none;
                color:rgb(10, 77, 104);"  href=" {% url 'tournament:teamDetail' team.id %}">{{team.Name}}</a></li>
            <div style="position: relative; left: 0px; top: 0px; width: 100%; height: 20px; background-color:transparent;z-index:-1;">
            </div>
            {% endfor %}
        </ul>
        {% else %}
        <ul>
            {% for team in pool.Teams.all %}
            <li style="font-family: Arial, sans-serif; font-size:20px; list-style-type: none;"><a href="{% url 'tournament:teamDetail' team.id %}">{{team.Name}}</a></li>
            <div style="position: relative; left: 0px; top: 0px; width: 100%; height: 20px; background-color:transparent;z-index:-1;">
            </div>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div style="position: absolute; width: 100%;
    top: 900px;">
    {% include "src/index.html"%}
    </div>
    </div>


{% endblock content %}
