{% extends 'base.html' %}
{% block title %}Résultats de recherche{% endblock title %}
{% block content %}
    <div class = "topbanner">
    <h1>Résultats de recherche :</h1>
    </div>

    <div class = "midbanner">
        <p><a href="{% url 'tournament:home' %}">Retour à l'accueil</a></p>
    {%if matchs or teams%}
        {%if teams%}
        <h3>Team : </h3>
          {%for team in teams%}
            <p><a href = "{% url 'tournament:teamDetail' team.id %}"> {{team.Name}} </a></p>
            {%endfor%}
        {%endif%}
        {%if matchs%}
        <h3>Matchs :</h3>
        <div class="scrollableitems">
            <ul>
            {%for match in matchs%}
            <div class = "itembox">
                    <li><a class="linka" href= "{% url 'tournament:matchDetail' match.id %}">{{match.Team1.Name}} VS {{match.Team2.Name}}</a></li>
                    <p> Score : {{match.getScoreString}} / Location : {{match.Location}} / Date : {{match.Date}} </p>
                    {% if user.is_superuser %} <a class="linka" href="{% url 'tournament:editMatch' match.id %}">edit</a>{% endif %}
                </div>
                <div class="separator">
                </div>
            {%endfor%}
        </ul>
    </div>
        {%endif%}
    {%else%}
    <p></p>Pas de résultats, vérifier le format de la date (YYYY-MM-DD), du score (x-x) ou l'orthographe. Pour chercher une oppposition, écrire vs entre les 2 équipes.</p>
    {%endif%}
    <p> Faire une nouvelle recherche : </p>
    <form method="post" action="{% url 'tournament:home'%}">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Search">
    </form>
</div>

{% endblock content %}