{% extends 'base.html' %}

{% block content %}
    <h2>Résultats de recherche :</h2>
    <p><a href="{% url 'tournament:home' %}">Retour à l'accueil</a></p>

    {%if matchs or teams%}
        {%if teams%}
        <p>Team :
          {%for team in teams%}
            <a href = "{% url 'tournament:teamDetail' team.id %}"> {{team.Name}} </a>
            {%endfor%}
        </p>
        {%endif%}
        {%if matchs%}
        <p>Matchs :</p>
            <ul>
            {%for match in matchs%}
                <li><a href= "{% url 'tournament:matchDetail' match.id %}">{{match.Team1.Name}} VS {{match.Team2.Name}}</a></li>
                <p>Score : <B>{{match.getScoreString}}</B> / Lieu : {{match.Location}} / Date : {{match.Date}} </p>
            {%endfor%}
        </ul>
        {%endif%}
    {%else%}
    <p></p>Pas de résultats, vérifier le format de la date (YYYY-MM-DD) ou l'orthographe. </p>
    {%endif%}
    <p> Faire une nouvelle recherche : </p>
    <form method="post" action="{% url 'tournament:home'%}">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Search">
    </form>
{% endblock content %}