{% extends 'base.html' %}

{% block title %}Val's Tournament : {{tournament.Name}}{% endblock title %}

{% block content %}
    <h1>{{tournament.Name}}</h1>
    {% if tournament.pool_set.all %}
    <ul>
        {% for pool in tournament.pool_set.all %}
        <li><a href= "{% url 'tournament:poolDetail' pool.id %}">Poule {{pool.index}}</a></li>
        <ul>
            {% for team in pool.getTeams %}
            <li><a href="{% url 'tournament:teamDetail' team.id %}">{{team.Name}}</a></li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>

        {% if rounds %}
            
            <ul>
                {% for round in tournament.matchesSortedbyRound %}
                {% comment %}
                <p>Round</p>
                <ul>
                    <li>{{round}}</li>
                </ul>
                {% endcomment %}
                    <p>Round</p>
                    {% for match in round %}
                        <li><a href= "{% url 'tournament:matchDetail' match.id %}">{{match}}</a></li>
                    {% endfor %}
                    
                {% endfor %}
            </ul>

        {% else %}
                <p> Les phases éliminatoire de ce tournoi ne sont pas générées</p>
        {% endif %}
        <a href="{% url 'tournament:generateMatchTree' tournament.id  %}">generate next round</a>

    {% else %}

    <p>aucune poule n'est organisée dans ce tournoi</p>
    {% endif %}
{% endblock content %}