{% extends 'base.html' %}

{% block title %}Val's Tournament list{% endblock title %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock head%}
{% block content %}
    <script>
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
            document.getElementById("navbar").style.top = "0";
        } else {
            document.getElementById("navbar").style.top = "-50px";
        }
        prevScrollpos = currentScrollPos;
        }
    </script>

    <div id="navbar">
        <a href="{% url 'tournament:home' %}">Accueil</a>
        <a href="{% url 'tournament:tournamentList' %}">Liste des tournois</a>
        <a href="{% url 'tournament:home' %}">Home</a>
        {% if user.is_authenticated %}
        <a style="position: relative; right: auto;"href="{% url 'logout' %}">Logut</a>
        <a style="position: relative; right: auto;" href="">{{user.username}}</a>
        {% else %}
        <a style="position: relative; right: auto;"href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>

    <nav class="crumbs">
        <ol>
            <li class="crumb"><a href="{% url 'tournament:home' %}">Accueil</a></li>
            <li class="crumb">Liste des tournois</li>
        </ol>
    </nav>


    <div class="kickfooter" style="height: 800px;"></div>
    <div class="topbanner"></div>
    <h1>Liste des tournois</h1>
    <div class="midbanner"></div>
    <div class="scrollableitems">

    
    {% if allTournament %}
    <ul>
        {% for tournament in allTournament %}
        <div class="itembox">
            <li class="link" ><a class="linka" style="text-transform: uppercase;" href= "{% url 'tournament:tournamentDetail' tournament.id %}">{{tournament.Name}}</a></li>
        </div>
        {% endfor %}
    </ul>
    {% else %}
    <p>Aucun tournoi n'est disponible</p>
    {% endif %}
    </div>
{% endblock content %}