

{% extends 'base.html' %}
{% block title %}Val's Tournament : {{tournament.Name}}{% endblock title %}
{% block head %}
{% endblock head%}

{% block content %}


<div class="topbanner">
    <div style="position:relative; height:200px; background-color: transparent;"></div>
    <h1 style="position: relative; left: 5%;">Liste des tournois</h1>
</div>    
    
<div class="midbanner">
    <h1 style="left:5%; color: rgb(10, 77, 104);">{{tournament.Name}}</h1>
   

    <div class="scrollableitems" style="left:5%">
        {% if tournament.pool_set.all %}
    <ul>
        {% for pool in tournament.pool_set.all %}
        <div class="itemboxb" >
            <li class="link" style="font-weight: 750; text-transform: uppercase;"><a class="linka" href= "{% url 'tournament:poolDetail' pool.id %}">Poule {{pool.index}}</a></li>
        </div>
        <div class="separator" style="height: 10px;"></div>

            <ul>
                {% for team, score in pool.getTeamsAndScores.items %}
                <li class="link"><a class="linka" href="{% url 'tournament:teamDetail' team.id %}">{{team.Name}}</a></li>
                <div class="separator" style="height: 10px;"></div>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
    
    {% if rounds %}
    
        <div class="tree">
            
            {% for round in tournament.matchesSortedbyRound %}
                <div class="round">
                        <table>
                        
                        {% for match in round %}
                            <tr>
                                <td>
                                    <div class="matchbox">
                                        <div class="team">
                                            <a style= "color: rgb(187, 233, 240)"; href= "{% url 'tournament:matchDetail' match.id %}">{{match.Team1.Name}}</a> {{match.Score1}}
                                            <br>
                                        </div>
                                        <div class="team">
                                            <a style= "color: rgb(187, 233, 240)";color: rgb(115, 234, 210); href= "{% url 'tournament:matchDetail' match.id %}">{{match.Team2.Name}}</a> {{match.Score2}}
                                            <br>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            
                        {% endfor %}
                        </table>
                </div>
                
            {% endfor %}      
        </div>
        
    {% else %}
    <p> Les phases éliminatoire de ce tournoi ne sont pas générées</p>
    {% endif %}
    
    
    {% else %}
            
        <p>aucune poule n'est organisée dans ce tournoi</p>
    {% endif %}
    </div>
</div>
{% endblock content %}


