{% extends 'base.html' %}

{% block title %}Val's Tournament : {{tournament.Name}}{% endblock title %}

{% block content %}
    <h1>{{tournament.Name}}</h1>
    {% if tournament.pool_set.all %}
    <ul>
        {% for pool in tournament.pool_set.all %}
        <li><a href= "{% url 'tournament:poolDetail' pool.id %}">{{pool.index}}</a></li>
        <ul>
            {% for team in pool.getTeams %}
            <li><a href="{% url 'tournament:teamDetail' team.id %}">{{team.Name}}</a></li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>

        {% if tournament.filterKnockoutMatches.all %}
            <ul>
                {% for match in tournament.filterKnockoutMatches.all %}
                    <li><a href= "{% url 'tournament:matchDetail' match.id %}">{{match}}</a></li>
                {% endfor %}
            </ul>

        {% else %}
            <a href="{% url 'tournament:generateMatchTree' tournament.id  %}">generate all matchs</a>
        {% endif %}
        
    {% else %}

    <p>aucune poule n'est organisée dans ce tournoi</p>
    {% endif %}
{% endblock content %}