{% load static %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div style="position: relative; width: 100%;">
  <div style="text-align: center; vertical-align: bottom; background-color: rgb(235,243,224); height: 70px;"> 
    <h1 style=" color: darkgray; font-family: Arial; font-size: 40px; position: relative; top:20px;">POOL STATISTICS</h1>

  </div>
  <div style="text-align: center; vertical-align: bottom; background-color: darkgray; height: 10px;"> 
  </div>


  <div style="background-color:rgb(233, 246, 249) ; width: 100%; height:300px;z-index:-1;"> 
    <div class="chart-container" style=" float:left; position: relative; height:100%; width:50%">
      <canvas id="BarGoalMatch" style="
      position: relative;
      top: 50%;transform: translate(0,-50%);
      " labels="{{label1|safe}}" data1="{{data1|safe}}" data2="{{data11|safe}}"></canvas>
  const ctx = document.getElementById('BarGoalMatch');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{label1|safe}},
      datasets: [{
        label: 'equipe 1',
        data: {{data1|safe}},
        borderWidth: 1
      },{
        label: 'equipe 2',
        data: {{data11|safe}},
        borderWidth: 1
      }],
    },

    options: {
      scales: {
        x:{
          stacked:true
        },
        y: {
          stacked:true
        }
      }
    }
  });
</script> 

<div class="float" style="float:right; position: relative; top: 25px; left:-100px ;height:20%; width:40%">
  <canvas id="GoalsTeam2"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

  const ctx3 = document.getElementById('GoalsTeam2');

  new Chart(ctx3, {
    type: 'bubble',
    data: {
      labels: {{label2|safe}},
      datasets: [{
        label: "Buts/Encaissés",
        data: {{data3|safe}},
        borderWidth: 1
      }]
    },

    options: {
      scales:  {
        x: {
          type: 'linear',
          position: 'bottom'
        }
      }
    }
  });
</script> 

<div class="float" style="float:left; position: relative;top: 100px; left: 250px; height:20%; width:25%">
  <canvas id="GoalsTeam"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx2 = document.getElementById('GoalsTeam');

  new Chart(ctx2, {
    type: 'doughnut',
    data:{
      labels:  {{label2|safe}},
      datasets: [{
        label:"Goals",
        data:  {{data2|safe}},
        backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)',
          'rgb(224,224, 224)',
          'rgb(153, 255, 153)',
        ],
        hoverOffset: 4
      }]
    },

    options: {
      
    }
  });
</script> 

<div class="float" style="float:right; position: relative; top: 100px; left:-200px; height:20%; width:25%">
  <canvas id="PointsTeam"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx4 = document.getElementById('PointsTeam');

  new Chart(ctx4, {
    type: 'polarArea',
    data:{
      labels:  {{label4|safe}},
      datasets: [{
        label: "Points",
        data:  {{data4|safe}},
        backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)',
          'rgb(224,224, 224)',
          'rgb(153, 255, 153)',
        ],
        hoverOffset: 4
      }]
    },

    options: {
      
    }
  });
</script> 
<div style="position: relative; left: 0; bottom: 100px; width: 200px; height: 800px; background-color:transparent;"></div>
    </div>

    <div class="float" style="float:right; position: relative ;height:100%; width:50%">
      <canvas id="GoalsTeam2" style="position: relative; top: 50%;transform: translate(0,-50%);"
      labels="{{label2|safe}}" data="{{data3|safe}}"></canvas>
    </div>
  </div>

  <div style="text-align: center; background-color: rgb(246, 246, 232); width: 100%; height:450px;z-index:-1;">
    <div class="float" style="float:left; position: relative; height:100%; width:25%">
      <canvas id="GoalsTeam" style="position:relative; top:50%;transform: translate(0,-50%);"
      labels="{{label2|safe}}" data="{{data2|safe}}"></canvas>
    </div>


    <div class="float" style="float:right; position: relative; height:100%; width:25%">
      <canvas id="PointsTeam" style="position:relative; top:50%;transform: translate(0,-50%);"
      labels="{{label4|safe}}" data="{{data4|safe}}"></canvas>
    </div>
    <h1 style="position: relative; top:40%; color: darkgray; font-family: Arial; font-size: 30px;margin-block: 0;"> GOALS VS POINTS</h1>

    <script src="{% static 'graph.js' %}"></script>
  </div>

</div>