{%load static%}


<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %}Val's Tournament{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block head %}{% endblock head %}
</head>

<body>
    {% include 'tournois/navigation.html' %}
    {% block content %}{% endblock %}
    <footer>
        <div style="position:relative; height:10px; width:100%; background-color: transparent;"></div>
        <p class="footer" style="font-size: 18px; font-weight: 700;  left: 1%; margin: 0;">CONTACT INFO:</p>
        <div style="position:relative; height:7px; width:100%; background-color: transparent;"></div>
        <p class="footer" style="font-style: italic;">LES ROIS DES TOURNOIS</p>
        <p class="footer">4 Av Edouard Belin</p>
        <p class="footer">+33 624 28 65 82</p>
        <em class="footer">&copy; ISAE-SUPAERO</em>
        <div style="position:relative; height:20px; width:100%; background-color: transparent;"></div>

    </footer>
</body>
</html>