<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Val's Tournament{% endblock %}</title>
</head>

<body>
    {% block content %}{% endblock %}
    {% if user.is_authenticated %}
        <p>you are connected as {{user.username}}; <a href="/accounts/logout">logout</a></p>
    {% else %}
        <p><a href="/accounts/login">log in</a></p>
    {% endif %}
    <footer>
        <a href="{% url 'tournament:home' %}">Home</a>
        <br>
        <a href="{% url 'tournament:tournamentList' %}">List of all tournament</a>
        <br>
        <em>&copy; ISAE-SUPAERO</em>
    </footer>
</body>
</html>